/*

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343

*/


/*Bonus

Create and apply a favicon.
Apply a subtle transition duration to hover and focus states
Add the id nameInput to the name input field in the newsletter page.
Add the id emailInput to the email input field in the newsletter page.
Add the id signupButton to the "Submit" button in the newsletter page.
Include the following code snippet just before the closing body tag (</body>) in newsletter/index.html:*/


/*Global CSS for site - Navigation*/

html {
  font-family: 'Merriweather', serif;
  background-color: black;
  margin: 0;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #F2F1E8;
}

header {
  box-shadow: 0 2px 2px -1px #c3c3c3;
  background-color: #FFF;
}

#logo {
  float: left;
  z-index: 2;
  width: 40px;
  padding: 10px;
  margin-left: 10px;
}

.navbar {
  text-align: center;
  padding: 20px;
}

.main-nav {
  text-align: center;
}

li {
  color: #2b2f26;
  list-style: none;
  display: inline-block;
}

li a {
  color: #2B2F26;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  width: 10%;
  padding: 25px;
  text-transform: uppercase;
}

li a:active {
  color: #968772;
}

li a:hover {
  color: #CD5D67;
  transition-duration: 300ms;
}


/***** End Navigation *****/


/*****  Styling index.html main page *****/

.pageheadtext {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 40px;
}

h1 {
  font-weight: normal;
  font-size: 3.1em;
  margin: 0px;
}

h2 {
  font-weight: lighter;
  font-size: 1.8em;
  margin: 10px 0 30px 0;
  ;
}

h3 {
  font-weight: lighter;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.product-gallery {
  margin: 0 10px;
}

.galrow1 {
  display: flex;
  width: 100%;
  height: 300px;
}

.galrow1 div {
  flex-basis: 20%;
  margin: 1vh;
}

.product-gallery p {
  font-size: 0.9em;
  color: #F2F1E8;
  padding: 8px 13px;
  background-color: #2B2F26;
  position: relative;
  bottom: 60px;
  margin: 0;
  display: inline-block;
}

.galrow1 div:nth-child(1) {
  flex-grow: 3;
}

.galrow1 div a img {
  object-fit: cover;
  flex: 1;
  width: 100%;
  height: 300px;
}

.galrow2 {
  height: 200px;
  display: flex;
  margin-top: 2vh;
  margin-bottom: 20px;
}

.galrow2 div {
  flex-basis: 20%;
  margin: 1vh;
}

.galrow2 div:nth-child(3) {
  flex-grow: 2;
}

.galrow2 div a img {
  object-fit: cover;
  flex: 1;
  width: 100%;
  height: 200px;
}

footer {
  height: 50px;
}

footer p {
  font-size: 0.9em;
  background-color: #2B2F26;
  color: #F2F1E8;
  padding: 30px;
}


/***** Styling about.html page *****/

#birdhouse {
  float: left;
  width: 140px;
  padding-right: 25px;
  padding-bottom: 5px;
}

.overview {
  margin-top: 40px;
}

.overview a {
  color: #968772;
}

.overview a:hover {
  color: #967343;
  transition-duration: 300ms;
}

section p {
  line-height: 2em;
}

#about-container {
  margin: 0 auto;
}

blockquote {
  padding: 5px 15px 5px 25px;
  margin: 30px 0px 0px 0px;
  line-height: 1.9em;
  border-left: 2px solid #968772;
}

section {
  margin: 30px 15%;
}

#parallax {
  text-align: center;
  background-image: url("../images/background-3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
}

#parallax h1 {
  display: block;
  position: relative;
  top: 100px;
  color: #F2F1E8;
  text-shadow: 1px 1px 1px black;
}

#facilities {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

#facilities h3 {
  flex-basis: 100%;
}

#facilities div {
  padding-right: 20px;
  flex-basis: 20%;
  flex-grow: 3;
}

aside {
  flex-basis: 20%;
}

aside p {
  padding-top: 10px;
  font-size: .7em;
}

aside img {
  width: 150px;
  s
}

.plans {
  margin-bottom: 50px;
}

.plans h3 {
  margin-bottom: 10px;
}

table, tr, td {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #2B2F26;
  border-collapse: collapse;
}

thead tr {
  text-align: center;
}

tbody tr:nth-child(1), tbody tr:nth-child(3) {
  background-color: #f2eadc;
}


/***** END ABOUT PAGE STYLING *****/


/***** START NEWSLETTER STYLING *****/

#news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  background-image: url("../images/background-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.signup {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  height: 250px;
  background-color: #FFF;
  padding: 25px;
  margin: 0 25%;
  box-shadow: 1px 1px 1px #968772;
}

.signup p {
  margin: 0 auto 10px auto;
  color: #2B2F26;
  font-size: 0.9em;
}

.signup p:nth-child(1) {
  font-size: 1.5em;
  font-weight: lighter;
}

input {
  border: none;
  border-bottom: 1px solid #968772;
  font-size: 0.9em;
  color: #968772;
}

button {
  font-size: 0.9em;
  padding: 15px 25px;
  border-style: none;
  color: #F2F1E8;
  background-color: #968772;
  margin: 0 auto;
  box-shadow: 1px 1px 1px #333;
}

button:hover {
  box-shadow: 2px 2px 1px #111;
  color: #FFFFFF;
  background-color: #967343;
  transition-duration: 300ms;
}
